.container {
  margin-top: 8vh;
}
img {
  width: 200px;
  height: 200px;
}
#description {
  border: none !important;
  background-color: #fafafa;
}
#name-age {
  font-size: 14pt;
}
#gender {
  font-family: Impact;
  font-weight: bolder;
  font-size: 21pt;
}

