<div class="container">
  <div class="row" id="searchRow" style="vertical-align: bottom">
    <div class="searchRow col-3"></div>
    <span class="col-6 searchRow" id="searchHeader"><span>Alt </span><span>Search</span></span>
    <div class="searchRow col-3"></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <form class="col-6" ngNativeValidate (submit)="submitKeyword()">
      <div class="input-group">
        <input type="text" class="form-control" id="Search" placeholder="Enter search or select category..."
               maxlength="30" minlength="2" required [(ngModel)]="keyword" name="keyword">
        <div class="input-group-prepend">
          <button class="input-group-text" type="submit" style="cursor: pointer">⌕</button>
        </div>
      </div>
    </form>
    <div class="col-3"></div>
  </div>
  <div id="categories" class="row" style="margin-top: 20px">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-center flex-wrap">
      <button type="button" class="btn" *ngFor="let category of categories" (click)="submitCategory(category)" style="margin-top: 20px">#{{category}}</button>
    </div>
    <div class="col-2"></div>
  </div>
</div>
