.spin-clockwise {
  border: 16px solid rgba(178,183,179,.1);
  border-radius: 100%;
  border-top: 16px solid rgba(113, 119, 115, .15);
  width: 22.5vw;
  height: 22.5vw;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -11.25%;
}
.spin-counterclockwise {
  border: 16px solid rgba(178,183,179,.025);
  border-radius: 100%;
  border-top: 16px solid rgba(113, 119, 115, .15);
  width: 22.5vw;
  height: 22.5vw;
  -webkit-animation: spin2 1.5s linear infinite; /* Safari */
  animation: spin2 1.5s linear infinite;
  transform: translate(-100%);
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -11.25%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin2 {
  100% { -webkit-transform: rotate(0deg); }
  0% { -webkit-transform: rotate(360deg); }
}

@keyframes spin2 {
  100% { transform: rotate(0deg); }
  0% { transform: rotate(360deg); }
}
