<div class="container" *ngIf="thumbnail != null">
  <div class="row">
    <div class="col-1"></div>
    <div class="col embed-responsive embed-responsive-4by3" id="video" style="height: 60vh">
      <video [src]="videoSrc" *ngIf="videoSrc != null" preload="auto" autoplay controls class="embed-responsive-item"
             style="object-fit: fill; cursor: pointer"></video>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col" id="videoFooter" style="padding: 0; min-height: 14vh">
      <div class="d-flex flex-row justify-content-center" style="width: 100%">
        <h1 style="font-weight: bold">{{thumbnail.title | lowercase | titlecase}}</h1>
      </div>
      <small style="margin-top: -2vh" class="d-flex flex-row justify-content-center">
        <span>
          By: <a style="cursor: pointer; font-weight: bold" routerLink={{ownerUrl}}>{{thumbnail.name | lowercase | titlecase}}</a>
        </span>
      </small>
      <div *ngIf="option === lessImg" style="width: 80%; margin: 2.5vh 5vw 7.5vh;">
        <div class="d-flex flex-row">
          <span>Click <a routerLink="{{ownerUrl}}">here</a> to visit {{thumbnail.name | lowercase | titlecase}}'s channel.</span>
        </div>
        <div class="d-flex flex-row">Date Published: {{thumbnail.date | date}}</div>
        <p style="width: 100%" id="description">Description: {{thumbnail.description}}</p>
      </div>
      <span id="comments" style="border-right: 1px solid black; left: 0" (click)="viewComments()">Comments</span>
      <span id="live-chat" style="border-left: 1px solid black; right: 0" (click)="viewLiveChat()">Live Chat</span>
      <img src="/assets/images/{{option}}" (click)="showMore()">
    </div>
    <div class="col-1"></div>
  </div>
</div>
<app-live-chat *ngIf="showLiveChat"></app-live-chat>
<app-comments [name]="thumbnail.name | lowercase | titlecase" [vidID]="thumbnail.id" [comments]="comments"
              [ngStyle]="{'display': showComments ? 'initial' : 'none'}" *ngIf="showComments" #comment></app-comments>
