<nav class="border-bottom navbar">
  <a class="navbar-brand" [routerLink]="['/']" style="cursor: pointer"> <img id="logo" src="/assets/images/logo.png"> </a>
  <div class="d-flex flex-row" style="width: 18vw; margin-right: 1vw">
    <a style="cursor: pointer" class="flex-fill" [routerLink]="['']" routerLinkActive="active-url" [routerLinkActiveOptions]="{exact: true}">
      <img src="/assets/images/search.png">
    </a>
    <a style="cursor: pointer" class="flex-fill" routerLink="/upload" routerLinkActive="active-url" [routerLinkActiveOptions]="{exact: true}">
      <img src="/assets/images/video.png">
    </a>
    <a style="cursor: pointer" class="flex-fill" routerLink="/account" routerLinkActive="active-url" [routerLinkActiveOptions]="{exact: true}">
      <img src="/assets/images/account.png">
    </a>
    <a class="float-right" style="cursor: pointer; margin-left: 6vw" routerLink="/login" *ngIf="!isLoggedIn"> <img src="/assets/images/login.png"> </a>
    <a class="float-right" style="cursor: pointer; margin-left: 6vw" *ngIf="isLoggedIn" (click)="logout()"> <img src="/assets/images/logout.png"> </a>
  </div>
</nav>

